@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* VARIABLES */

:root {
  --border-radius: 5px;
  --border-size: 1px;
  --clr-gray: #595959;
  --clr-light-gray: #b1b1b1;
  --clr-orange: rgba(217, 80, 4, 0.7);
  --clr-yellow: rgba(217, 160, 4, 0.7);
  --clr-red: red;
}

/* HELPER CLASSES */

.header-text,
.body-text,
.light-text,
::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: black;
}

::placeholder {
  font-size: 18px;
  color: var(--clr-light-gray);
}

.header-text {
  font-size: 64px;
  font-weight: 600;
  color: white;
}

.body-text {
  font-size: 18px;
}

.light-text {
  font-size: 16px;
  color: var(--clr-gray);
}

.btn {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}

/* BODY */

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* BANNER */

#banner {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: -1;
  left: 0;
  margin: 0;
  padding: 0;
}

#gradient {
  position: absolute;
  background: linear-gradient(
    100deg,
    var(--clr-orange) 5%,
    var(--clr-yellow) 90%
  );
  width: 100%;
  height: 100%;
}

/* TASKER */

#tasker {
  position: absolute;
  display: block;
  top: 70px;
  width: 670px;
}

#tasker h1 {
  padding: 0;
  margin: 0 0 30px 0;
}

/* TASKER INPUT */

#tasker-input {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: white;
  height: 70px;
  margin: 0 0 35px 0;
  transition: 150ms ease-in-out;
}

#tasker-input::before {
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: calc(1 * var(--border-radius));
  border-bottom: 8px solid rgb(34, 180, 100);
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 50%;
  transform-origin: 0;
  transform: scaleX(0);
  transition: 150ms ease-in-out;
}

.focus::before {
  transform: scaleX(1) !important;
}

.error::before {
  border-color: var(--clr-red) !important;
}

#input-text {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: black;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 0 0 30px;
  margin: 0;
  height: 100%;
}

#add-task-btn {
  height: 100%;
  width: 60;
  padding: 0 10px 0 10px;
  margin: 0 20px 0 0;
  transition: 150ms ease-in-out;
  transform-origin: center;
}

#add-task-btn:hover {
  transform: scale(1.5);
  color: var(--clr-orange);
}

/* TASKER BODY */

#tasker-body {
  z-index: 0;
  overflow: auto;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 490px;
}

/* TASKS */

#tasks {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: var(--border-size) solid var(--clr-light-gray);
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.completed-task {
  position: relative;
  appearance: none;
  border-radius: 50%;
  background: linear-gradient(#d95204 0%, #d9a404 100%);
  margin: 0 0 0 20px;
  padding: 9px;
  transition: 150ms ease-in-out;
}

.completed-task::before {
  position: absolute;
  background-color: white;
  margin: -38% 0 0 -38%;
  border-radius: 50%;
  content: "";
  width: 76%;
  height: 76%;
}

.completed-task::after {
  content: "";
  position: absolute;
  margin: -5px 0 0 -5px;
  width: 10px;
  height: 10px;
  background-image: url("images/check.svg");
}

.completed-task:hover {
  transform: scale(1.5);
}

.completed input::before {
  background: transparent !important;
}

.text {
  margin: 0 0 0 20px;
  padding: 0;
  width: 100%;
}

.completed p {
  text-decoration: line-through;
  color: var(--clr-light-gray) !important;
  font-weight: 300;
}

.delete-task {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  padding: 0 10px 0 10px;
  height: 100%;
  color: var(--clr-gray);
  transition: 150ms ease-in-out;
}

.delete-task:hover {
  color: var(--clr-red);
  transform: scale(1.5);
}

.delete-task i {
  pointer-events: none;
}

/* TASKER CONTROLS */

#tasker-controls {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: white;
  height: 70px;
  margin: 0;
  padding: 0;
}

#tasks-left {
  margin: 0 0 0 40px;
  padding: 0;
}

#clear-completed-btn {
  padding: 10px 0 10px 0;
  margin: 0 40px 0 0;
  transition: 150ms ease-in-out;
}

#clear-completed-btn:hover {
  color: var(--clr-orange);
  transform: scale(1.2);
}
