@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

/* -------------
   global styles
   ------------- */

html {
  font-size: 16px;
}

:focus {
  outline: none;
}

:root {
  --border-radius: 0.5em;
  --border-size: 0.1em;

  --task-height: 9ch;

  --element-side-padding: 1em;
  --box-shadow: 0 0.6em 1.8em 0.6em rgba(0, 0, 0, 0.1);
  --standard-transition: 150ms ease-in-out;

  --clr-gray: #595959;
  --clr-light-gray: #b1b1b1;
  --clr-orange: rgba(217, 80, 4, 0.7);
  --clr-yellow: rgba(217, 160, 4, 0.7);
  --clr-red: red;
  --clr-white: white;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* -------------
     typography
   ------------- */

h1,
p,
a,
input[type="text"],
button,
::placeholder {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: black;
}

::placeholder {
  font-style: italic;
  color: var(--clr-light-gray);
}

h1 {
  padding: 0;
  margin: 0 0 0.3em 0;
  font-size: 4rem;
  font-weight: 600;
  color: white;
}

.light-text {
  color: var(--clr-gray);
}

/* -------------
     components
   ------------- */

.btn {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}

/* -------------
      layout
   ------------- */

/* banner */

banner {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22rem;
  z-index: -1;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

banner overlay {
  position: absolute;
  background: linear-gradient(
    100deg,
    var(--clr-orange) 5%,
    var(--clr-yellow) 90%
  );
  width: 100%;
  height: 100%;
}

/* tasker */

#tasker {
  position: absolute;
  display: block;
  top: 5rem;
  width: 80ch;
  padding: 0;
  margin: 0;
}

/* tasker input */

#tasker-input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-white);
  border-radius: var(--border-radius);
  height: var(--task-height);
  margin: 0 0 calc(var(--task-height) / 2) 0;
  padding: 0 1em;
}

#tasker-input::before {
  content: "";
  position: absolute;
  border-radius: calc(1 * var(--border-radius));
  border-bottom: 0.6em solid rgb(34, 180, 100);
  z-index: -1;
  left: 0;
  bottom: -0.3em;
  width: 100%;
  height: 50%;
  transform-origin: 0;
  transform: scaleX(0);
  transition: var(--standard-transition);
}

.error::before {
  border-color: var(--clr-red) !important;
}

.focus::before {
  transform: scaleX(1) !important;
}

#input-text {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 var(--element-side-padding);
  margin: 0;
}

#add-task-btn {
  height: 100%;
  padding: 0 var(--element-side-padding);
  margin: 0;
  transform-origin: center;
  transition: var(--standard-transition);
}

#add-task-btn:hover,
#add-task-btn:focus {
  transform: scale(1.5);
  color: var(--clr-orange);
}

/* tasker body */

#tasker-body {
  overflow: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin: 0;
  padding: 0;
  background-color: var(--clr-white);
  height: calc((var(--task-height) + var(--border-size)) * 7);
}

/* tasks */

#tasks {
  display: block;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 var(--element-side-padding);
}

.task {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: var(--border-size) solid var(--clr-light-gray);
  height: var(--task-height);
  width: 100%;
}

.completed-task {
  position: relative;
  padding: 0.625rem;
  appearance: none;
  border-radius: 50%;
  background: linear-gradient(var(--clr-orange) 0%, var(--clr-yellow) 100%);
  transition: var(--standard-transition);
}

.completed-task::before {
  content: "";
  position: absolute;
  background-color: var(--clr-white);
  margin: -40% 0 0 -40%;
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.completed-task::after {
  content: "";
  position: absolute;
  padding: 0;
  margin: -25% 0 0 -25%;
  width: 50%;
  height: 50%;
  background-image: url("images/check.svg");
}

.completed-task:hover,
.completed-task:focus {
  transform: scale(1.5);
}

.completed input::before {
  background: transparent !important;
}

.text {
  margin-left: var(--element-side-padding);
  padding: 0;
  width: 100%;
}

.completed p {
  text-decoration: line-through;
  color: var(--clr-light-gray) !important;
  font-weight: 300;
}

.delete-task {
  position: relative;
  margin-left: auto;
  padding: 0 var(--element-side-padding);
  height: 100%;
  color: var(--clr-gray);
  transition: var(--standard-transition);
}

.delete-task:hover,
.delete-task:focus {
  color: var(--clr-red);
  transform: scale(1.5);
}

.delete-task i {
  pointer-events: none;
}

/* TASKER CONTROLS */

#tasker-footer {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.6em 1.8em 0.6em rgba(0, 0, 0, 0.1);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--clr-white);
  height: var(--task-height);
  margin: 0;
  padding: 0 1em;
}

#tasks-left {
  margin: 0 0 0 var(--element-side-padding);
  padding: 0;
}

#clear-completed-btn {
  padding: 0 var(--element-side-padding);
  margin: 0;
  transition: var(--standard-transition);
}

#clear-completed-btn:hover,
#clear-completed-btn:focus {
  color: var(--clr-orange);
  transform: scale(1.2);
}
